@media screen and (max-width: 600px) {
  .layout {
    height: 100vh;
  }
  .card {
    height: 100%;
  }
  .box {
    padding: 40px 0;
    width: calc(100% - 30px);
    justify-content: space-around;
    height: 100%;
    gap: 0;
  }
  .contentBox {
    gap: 40px;
    flex: unset;
  }
  .imageBox {
    flex: unset;
  }
  .headerAndSubHeaderBox {
    gap: 40px;
  }
  .header {
    font-size: 32px;
  }
}
